<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HOLA ESTAS EN LOGIN DE USUARIO</h2>
    
    <div class="links-section text-center">
        <a href="{% url 'registrar_propietario' %}" class="btn btn-outline-primary">Registrar Propietario</a>
        <a href="{% url 'registrar_mascota' %}" class="btn btn-outline-primary">Registrar Mascota</a>
        <a href="{% url 'buscar_mascota' %}" class="btn btn-outline-primary">Buscar Mascota</a>
    </div>
</body>
</html>