<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Mascota</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Registrar Mascota</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Guardar">
        </form>
    </div>
</body>
</html>
