<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Buscar Mascota</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Buscar Mascota</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>
    {% if mascota %}
        <h2>Mascota Encontrada</h2>
        <p>Nombre: {{ mascota.nombre }}</p>
        <p>Especie: {{ mascota.especie.nombre }}</p>
        <p>Propietario: {{ propietario.nombre }} {{ propietario.apellido }}</p>
        <a href="{% url 'consultar_carnet' mascota.id %}">Ver Carnet de Vacunación</a>
    {% endif %}
</body>
</html>
